framework:
    messenger:
        default_bus: command.bus

        buses:
            command.bus:
                middleware:
                    - messenger.middleware.doctrine_transaction
            query.bus: ~

        transports:
            sync: 'sync://'

        routing:
            'App\Shared\Application\Query\QueryInterface': sync
            'App\Shared\Application\Command\CommandInterface': sync

when@test:
  framework:
    messenger:
        transports:
            async: 'in-memory://'
